<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>实时视频播放</title>

    <!-- Bootstrap -->    
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/jquery-ui-1.10.3.custom.min.css" />

		<link rel="stylesheet" href="/css/ace.min.css" />
		<link rel="stylesheet" href="/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/css/ace-skins.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body  ng-app="jxpi">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">实训室智能控制</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- 动态生成应用导航条，在NavbarCtrl中定义 -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  ng-controller="NavbarCtrl">
      <ul class="nav navbar-nav">
        <li ng-repeat="a1 in navbar" class="dropdown">
          <a ng-show="a1.children.length>0" href="{{ a1.href }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ a1.label }}<span class="caret"></span></a>
          <a ng-show="a1.children.length==0" href="{{ a1.href }}">{{ a1.label }}<span class="caret"></span></a>
          <ul ng-show="a1.children.length>0" class="dropdown-menu">
            <li ng-repeat="a2 in a1.children">
              <a href="{{ a2.href }}">{{ a2.label }}</a>
            </li>
          </ul>
        </li>
      </ul>

        <a href="{{imghref}}" target="_blank"><img src="{{imgsrc}}" width="300" height="50" /></a>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-success" href="#" onclick="stop_ms()"><i class="glyphicon glyphicon-stop"></i>关摄像头</a></li>
        <li><a class="btn btn-success" href="#" onclick="live_ms()"><i class="glyphicon glyphicon-camera"></i>开摄像头</a></li>
        <li><a class="btn btn-danger" data-toggle="modal" href="#modal_shutdown"><i class="glyphicon glyphicon-off"></i>关机</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="modal_shutdown" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               系统将会被关闭！！你确定吗？
            </h4>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">那就算了吧
            </button>
            <button type="button" class="btn btn-danger" onclick="shutdown()" 
               data-dismiss="modal">
               关就关吧！
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


    <div class="container">
    <div class="row">
    <div class="col-sm-1">
    </div> <!-- 左侧 -->

    <div class="col-sm-10">

        <video  id="div_live"  controls="controls"  width="100%" height="100%" autoplay=''"autoplay">
         <p>您的浏览器不支持html5视频播放</p>
        </video> 

    </div> <!-- 主工作区 -->

    <div class="col-sm-1"><!-- 右侧 -->
    </div> 

    </div> <!-- row -->

    </div> <!-- /container -->




<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/jquery.base64.js/jquery.base64.js"></script>

		<script src="/js/ace-extra.min.js"></script>

		<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/js/markdown/markdown.min.js"></script>
		<script src="/js/markdown/bootstrap-markdown.min.js"></script>
		<script src="/js/jquery.hotkeys.min.js"></script>
		<script src="/js/bootstrap-wysiwyg.min.js"></script>
		<script src="/js/bootbox.min.js"></script>
		<script src="/js/ace-elements.min.js"></script>
		<script src="/js/ace.min.js"></script>

		<script src="/js/ace/ace.js"></script>

<script src="/js/jquery.json-2.4.min.js"></script>
<script src="/js/JXCommon.js"></script>

<script src="/js/app.js"></script>
<script src="/js/live.js"></script>

  </body>
</html>